/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f0efef;
  color: #111;
}

/* Header */
.header {
  background: #1a0c3d;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ff00b5;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header h1 {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  font-weight: 400; 
}

.header nav a {
  text-decoration: none;      
  color: white;               
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;      
  border-radius: 5px;    
  transition: all 0.3s;        
}

.header nav a:hover {
  color: white;                
  background-color: #1E125D;   
}

.menu {
  display: flex;
  gap: 100px; 
  margin-left: 20px; 
}

.search {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

/* Sobre */
.sobre {
  padding: 40px;
  background: #e6e6e6;
  font-family: 'Roboto', sans-serif;
  margin-right: 20px;
}

.search img {
  width: 20px;
  height: 20px;
}


.sobre h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1a0c3d;
  font-family: 'Russo One', sans-serif;
  font-weight: 400;  
}

.sobre p {
  margin-bottom: 15px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.search img {
  width: 20px;
  height: 20px;
}

.analise {
  display: flex;
  padding: 40px;
  gap: 40px;
}

.filtros {
  background: #c0bec4;
  padding: 20px 25px 0px 25px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.filtros h2 {
  margin-bottom: 15px;
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
}

.filtros label {
  display: block;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;           
  font-size: 16px;          
  padding: 5px 10px;         
  border-radius: 6px;        
  transition: all 0.3s;      
  cursor: pointer;
}
.filtros label:hover {
  background-color: #ff00b5; 
  color: white;              
}

.checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #ff00b5;
  border: none;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.grafico {
  flex: 1;
  position: relative;
}

.nota {
  position: absolute;
  bottom: 10px;
  right: 30px;
  background: #c0bec4;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

.nota p {
  font-weight: bold;
  color: #1a0c3d;
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
}

.nota span {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

/* Rodapé */
.rodape {
  background: #1a0c3d;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-top: 3px solid #ff00b5; 
  font-family: 'Russo One', sans-serif;
}
.rodape::after {
  content: "";
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 10px; 
  background: linear-gradient(90deg,#3A125D, #2527C3); /* degradê */
}

.rodape .logo p {
  font-family: 'Roboto', sans-serif; 
  font-weight: 300; 
  color: #ffffff;   
  margin: 0;        
  line-height: 1.4; 
}

.rodape h2 {
 font-size: 20px;
  font-family: 'Russo One', sans-serif;
  font-weight: 400; 
}

.rodape .links {
  display: flex;
  gap: 30px;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300; 
  color: #ffffff;   
  text-decoration: none; 
}

.rodape .links a {
  color: #ffffff;   
  font-weight: 300; 
  text-decoration: none; 
  transition: color 0.3s;
}

.rodape .links a:hover {
  color: #ff00b5; 
}


.rodape .social {
  display: flex;
  gap: 20px;
  font-size: 22px;
}

.social a {
  font-size: 30px;
  margin: 0 10px;
  color: #000; 
  text-decoration: none;
  transition: color 0.3s;
}

/* Instagram: gradiente aproximado do app */
.social a.instagram:hover i {
  color: #feda75; 
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

/* YouTube: vermelho */
.social a.youtube:hover i {
  color: #ff0000;
}

/* TikTok: verde água e rosa */
.social a.tiktok:hover i {
  color: #69C9D0; 
  text-shadow: 2px 0 #EE1D52, -2px 0 #EE1D52; 
}

.filtros select {
  width: 100%;
  padding: 8px 12px;          
  border-radius: 8px;          
  border: 2px solid #1a0c3d;  
  background-color: #ffffff;  
  color: #1a0c3d;             
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  appearance: none;             
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: all 0.3s;
}

/* Hover e foco */
.filtros select:hover,
.filtros select:focus {
  border-color: #ff00b5;       
  box-shadow: 0 0 5px rgba(255,0,181,0.5);
  outline: none;
}

/* Para criar uma setinha personalizada */
.filtros select {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%231a0c3d" viewBox="0 0 16 16"><path d="M4 6l4 4 4-4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}
